body{
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    background: rgb(252, 217, 195);
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

#container {
    display: grid;
    width = 100%;
    grid-template-columns: minmax(200px, 1fr) repeat(auto-fit,minmax(150px, 1fr));
    /*minmax関数によってviewの広さに合わせて勝手に大きさを変えてくれる*/
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}
.hover{
    transition: all 400ms 0s ease;
    background: lightblue;
    padding: 20px;
    font-size: 30px;
    color: white;
    border:3px #ffffff solid;   
}
.hover a{
    display:block;
    width: 100%; /* 横幅 */
    height: 100%;
}
.hover:hover{
    border:3px #5f5a5a solid;
}
.hover:nth-child(odd) {
    background: orange;
}
.item{
    background: lightblue;
    padding: 20px;
    font-size: 30px;
    color: white;
    border:3px #ffffff solid;
}
.item:nth-child(odd) {
    background: orange;
}
#side{/*idで指定してあげて一個だけ固定するというような使い方もできる*/
    grid-row: 1; grid-column: 1;
    grid-row: span 2;
}