#container {
    display: grid;
    width = 100%;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: minmax(150px, auto);
}
    
.item{
    background: lightblue;
    padding: 20px;
    font-size: 30px;
    color: white;    
}
.item:nth-child(odd) {
     background: orange;
}
#side{/*idで指定してあげて一個だけ固定するというような使い方もできる*/
     grid-row: 1; grid-column: 1;
}
#side2{/*2個固定する*/
     grid-row: 2; grid-column: 1;
}